<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Halaman Students</h1>
    <a href="/">Home</a>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>first_name</th>
          <th>last_name</th>
          <th>email</th>
          <th>createAt</th>
          <th>updateAt</th>
        </tr>
      </thead>
      <tbody>
        <%data.forEach( rows => { %>
          <tr>
            <td><%=rows.id%></td>
            <td><%=rows.first_name%></td>
            <td><%=rows.last_name%></td>
            <td><%=rows.email%></td>
            <td><%=rows.createdAt%></td>
            <td><%=rows.updatedAt%></td>
            <td>
              <a href="/students/edit/<%=rows.id%>">Edit</a>
              <a href="/students/delete/<%=rows.id%>">Delete</a>
            </td>
          </tr>
        <% })%>
      </tbody>
      </table>
  </body>
  <form action="/students" method="POST">
    <input type="text" name="first_name" placeholder="first_name">
    <input type="text" name="last_name" placeholder="last_name">
    <input type="email" name="email" placeholder="Email">
    <input type="submit" value="SUBMIT">
  </form>
</html>
